<h2>Review <%= @project.name %></h2>
<%= link_to 'Start', start_review_project_path(@project), id: 'start_review', class: 'add_project_button' %>
<%= link_to 'Stop', stop_review_project_path(@project), id: 'stop_review', class: 'add_project_button', style: 'display: none;' %>

<iframe width="560" height="315" src="<%= @project.youtube_url %>&fs=1&autoplay=1" frameborder="0" allowfullscreen></iframe>

