<div class="project_review">
    <div class="project_review_content">
        <video id="youtube" class="youtube_video" poster="intro.png" title="This is Projeck video" width="560" height="315" id="player_a">
        </video>

        <div class="project_review_cam">
            <video id="camera" class="chat_video" poster="intro.png" title="This is camera video" width="320" height="240" id="player_a">
        </div>
    </div>
</div>
