<%= link_to "Get data", data_project_review_path(params[:project_id], params[:id]), id: 'data_link' %>
<div class="project_review">
    <div id='plot'></div>

    <div class="project_review_content">
        <div class="project_review_cam">
            <video id="camera" class="chat_video" poster="intro.png" title="This is camera video" width="320" height="240" id="player_a">
        </div>

        <video id="youtube" class="youtube_video" poster="intro.png" title="This is Projeck video" width="560" height="315" id="player_a">
        </video>
    </div>
</div>

<%= javascript_include_tag 'jquery.flot' %>
